caption{
    border: none;
    caption-side: bottom;

}

td, th {
    border: 1px solid black;

}

table{
    border-collapse: collapse;
    width: 700px;
}
tbody > tr:first-child > th:nth-child(n){
    border-width: 2px 0 0 0;
    color: white;
    background: dimgrey;
}

tbody > tr:first-child > th:first-child{
     border-width: 2px 0 0 2px;
}

tbody > tr:first-child > th:last-child{
    border-width: 2px 2px 0 0;
}

tbody > tr:nth-child(2n+1){
    background: #8080807d;
}

tbody > tr:not(:first-child){
    text-align: left;
}

tbody > tr:hover{
    color: white;
    background: black;
    cursor: pointer;
}