p {
    border: 1px solid dimgrey;
    border-radius: 0 7px;
}

a[href^=http]:before{
    content: url("img/extref.png");
}
p a[href$=doc]:after{
    content: url("img/logo-doc.jpg");
}

p a:not([href^=http])[href$=pdf]:after{
    content: url("img/logo-pdf.png");
}

p a:not([href^=http])[href$=zip]:after{
    content: url("img/logo-zip.gif");
}

ul {
    list-style-image: url("img/logo-list.jpg");
}

li a[href$=doc]:hover:after{
    content: url("img/logo-doc.jpg");
}

li a[href$=pdf]:hover:after{
    content: url("img/logo-pdf.png");
}

li a[href$=zip]:hover:after{
    content: url("img/logo-zip.gif");
}

